#alphabet {
    font-family: "Joti-One", Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
    width: 100%;
    margin-top: 40px;
    border: 5px solid #FAA300;
    color: #FAA300;
    cursor: pointer;
    min-height: 250px; /* Ajuste pour petits écrans */
    height: auto; /* Évite d'étirer inutilement */
    font-size: clamp(5rem, 10vw, 10rem); /* Taille de police adaptative */
    overflow: hidden; /* Évite tout débordement */
}


#alphabet:hover {
    background-color: #FAA300;
    color: white;
    transition: 0.2s ease-in;
}

#convertImage {
    padding: 10px;
    width: 70px;
    background-color: #FAA300;
    cursor: pointer;
    margin: 0 20px;
}

#convertImage:hover {
    background-color: #F5DD61;
}

#buttonEmplacement {
    display: flex;
    justify-content: space-evenly;
}

#buttonEmplacement button{
    width: 100%;
    font-size: large;
    border: 0;
    cursor: pointer;
}

#buttonEmplacement button:hover {
    background-color: #F5DD61;
    transition: 0.2s;
}