/*
*   Palette :
*       - #59D5E0 cyan
*       - #F5DD61 jaune
*       - #FAA300 orange
*       - #F4538A rose
*/

#listesMots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
}

#gauche, #droite {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#gauche .boutonList, #droite .boutonList {
  text-align: center;
  margin: 15px auto;
  width: 50%;
  height: 55px;
  cursor: pointer;
  border: 3px solid #FAA300;
  background-color: #F5DD61;
  font-size: 220%;
}


/*
================================================================================================================================
Partie Responsive
================================================================================================================================
*/

/*
Responsive pour Ipad, tourné côté paysage
*/

@media only screen and (max-width: 1200px) {
  #gauche .boutonList, #droite .boutonList {
    margin: 10px auto;
    font-size: 25px;
    width: 70%;
    height: 60px;
  }
}