.jeu-listedemot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  select {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  #listesMots {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-image: url('./../assets/images/fondChateau.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  #listesMots div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #modal-body .boutonList {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 8px;
    background-color: #59d5e0;
    color: #000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  #modal-body .boutonList:hover {
    background-color: #46cad6;
  }
  
  #modal-body .boutonList:disabled {
    background-color: #a0a0a0;
    border: 2px solid #808080;
    color: white;
    cursor: not-allowed;
  }

  #modal-body .boutonList.selected {
    background-color: #4c4faf;
    border: 2px solid #3c388e;
    color: white;
  }
  
  #modal-body .boutonList.correct {
    background-color: #4caf50;
    border: 2px solid #388e3c;
    color: white;
  }
  
  #modal-body .boutonList.incorrect {
    background-color: #f44336;
    border: 2px solid #d32f2f;
    color: white;
  }
  
  .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    text-align: center;
  }
  
  .alert.success {
    background-color: #4caf50;
  }
  
  .exoSuivantBoutton {
    padding: 10px 20px;
    font-size: 50px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    top: 45%;
    left: 41.5%;
  }
  
  .btn-suivant:hover {
    background-color: #388e3c;
  }



  /*
================================================================================================================================
Partie Responsive
================================================================================================================================
*/

/*
Responsive pour Ipad, tourné côté paysage
*/

@media only screen and (max-width: 1200px) {
  #gauche .boutonList, #droite .boutonList {
    font-size: 25px;
  }
}