/* Conteneur du mot croisé */
#crossword-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* Table et cellules */
table {
  border-collapse: collapse;
  margin: 20px auto;
}

td {
  width: 30px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  border: 1px solid #333;
}

/* Cellules remplies et vides */
.filled {
  background-color: #11b7e0c9;
  color: #f1f1f1;
}

.empty {
  background-color: #c665d3a2;
}

.empty:hover {
  background-color: #e0e0e0;
}

/* Boutons et menu déroulant */
.game-header button,
.game-header select {
  background-color: #11b7e0c9;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 1.1em;
  font-family: "Arial", sans-serif;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, transform 0.2s;
  margin: 5px;
  text-align: center;
}

.game-header button:hover,
.game-header select:hover {
  background-color: #0fa7d1;
  transform: scale(1.05);
}

.game-header select {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 140 140'%3E%3Cpolygon fill='%23FFF' points='70,105 105,35 35,35'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 12px;
  padding-right: 40px;
}

/* Popup */
.popup {
  display: flex;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #11b7e0c9;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  width: 300px;
  position: relative;
}

/* Styles supplémentaires */
.success {
  color: green;
}

.error {
  color: red;
}

.missing-letter {
  background-color: #11b7e0c9;
  color: transparent;
}

.help-icon {
  cursor: pointer;
  font-size: 30px;
  margin-left: 10px;
}

.hidden {
  opacity: 0;
}

/* Liste et compteur */
.list-counter-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.word-list {
  flex: 3;
}

.error-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.error-icon {
  width: 30px;
  height: 30px;
  opacity: 1;
  transition: opacity 0.3s;
}

.error-icon.inactive {
  opacity: 0.3;
}
