/*
*   Palette :
*       - #59D5E0
*       - #F5DD61
*       - #FAA300
*       - #F4538A
*/

@font-face {
  /* Importation de la font */
  font-family: "Joti-One";
  src: url("./../assets/fonts/JotiOne-Regular.ttf") format("truetype");
}

nav {
  padding: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4538a;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 1;
}

nav ul li a:hover {
  background-color: #f5dd61;
  transform: scale(1.1);
  transition: 0.3s;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #59d5e0;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

h1 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

#progression {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Jauge horizontale */
#chrono {
  background-color: #f5dd61;
  border: 10px solid #faa300;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  width: 80%;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#chronoDisplay{
  color : white;
  font-size : 32px;
  font-family: "Joti-One";
}

#jauge-niveau {
  background-color: #faa300;
  border-radius: 20px;
  height: 20px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#niveau-barre {
  background-color: #f4538a;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  left: 0;
}

section {
  margin: 20px;
}

/* Conteneur principal */
#sections-container {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
}

#conteneur-gauche {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#liste-de-mots,
#mots-croises,
#Mot-image,
#Mot-a-trou {
  background-color: #f5dd61;
  border: 10px solid #faa300;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#Mot-a-trou {
  flex: 1;
}

#Mot-image {
  flex: 1;
}

#app h1 {
  visibility: hidden;
  display: none;
}

h2 {
  margin: 0 0 20px 0; /* Enlève les marges inutiles */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
}

#button_container {
  text-align: center;
}

button {
  width: auto;
  min-height: 100px;
  margin: 10px;
  padding: 10px;
  background-color: white;
  font-size: 18px;
  border-radius: 25px;
  border: 3px solid #f4538a;
}

button:hover {
  color: white;
  background-color: #f4538a;
  transition: 0.3s;
}

#chrono {
  visibility: hidden;
  display: none;
}
